html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: var(--ff-main);
}

a, 
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

p:not(.subtitulo) {
  color: var(--clr-gray);
}

h2 {
  font-size: var(--fs-3);
}

h3 {
  font-size: var(--fs-2);
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {  
  font-family: var(--ff-title);
  font-weight: 400;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.container {
  width: 100%;
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  margin-left: auto;
  margin-right: auto;
}

.header-mobile {
  position: relative;
  height: var(--header-height-mobile);
  width: 100%;
  background-color: var(--clr-white);
}

.header-desktop {
  display: none;
}

.menu-toggle {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: var(--fs-2);
  color: var(--clr-gray);
}

.header-mobile__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 96%;
  transform: translate(-50%, -50%);
}

.nav-wrapper {
  display: flex;
  width: 100%;
}

.nav--left {
  margin-left: auto;
}

.nav--right {
  margin-right: auto;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  padding: 0 0.75rem;
}

.nav__item > a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.nav__item > a::before,
.nav__item > a::after {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: 100ms ease-in-out;
}

.nav__item > a::before {
  margin-right: 0.25rem;
  transform-origin: right;
}

.nav__item > a::after {
  margin-left: 0.25rem;
  transform-origin: left;
}

.nav__item:hover > a::before,
.nav__item:hover > a::after,
.nav__item:focus > a::before,
.nav__item:focus > a::after {
  transform: scaleX(1);
}

.flex {
  display: flex;
  align-items: center;
}

.text-block > p:not(.subtitulo) {
  margin-top: .5rem;
}

.sitio,
.espaço {
  display: flex;
  flex-direction: column;
}

.sitio > *,
.espaco > * {
  flex-basis: 100%;
  
  padding-top: 7.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.img-wrapper {
  padding-bottom: 5rem;
}

.img-ratio {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.carrosel {
  height: calc(100vh - var(--header-height-mobile));
  width: 100%;
  background-image: url('../assets/imgs/image3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.comentarios__wrapper {
  position: relative;
}

.comentarios__wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: .4;
  background-image: url('../assets/imgs/pastel-mosaic.jpg');
}

.comentario {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
}

.comentario__usuario-img {
  position: relative;
  width: 6.25rem;
  margin-bottom: 2rem;
}

.comentario__usuario-img > img {  
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 60% 40% 60% 40%;
}

.comentario__usuario-img::before {
  content: '"';
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  font-size: 4.5rem;
  font-family: 'Proza Libre', sans-serif;
  color: var(--clr-orange);
}

.comentario__texto {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
}

.comentario__usuario-nome {
  font-size: 1.5rem;
  margin: 0;
}

.galeria {
  padding-top: 7.5rem;
}

.img-grid__item {
  margin-bottom: 2.5rem;
  padding: 0 1.25rem;
}

.footer {
  padding-top: 7.5rem;
  padding-bottom: 4rem;
  background-image: url('../assets/imgs/img-noise.png');
}

.footer__grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer__grid > * {
  flex-basis: 100%;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.contato__info {
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.contato__info > i {
  width: 1.75rem;
  padding-right: .5em;
  text-align: end;
  color: #000;
}

.text-center {
  text-align: center;
}

.subtitulo {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
  color: var(--clr-orange);
}

@media (min-width: 768px) {
  .img-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .img-grid__item {
    width: 50%;
  }

  .footer__grid > *:not(:first-child) {
    flex-basis: 50%;
  }

  .footer__logo > img {
    margin-left: auto;
    margin-right: auto;
  }  
}

@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
  
  .header-desktop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height-desktop);
  }

  .header-desktop__logo {
    flex-shrink: 0;
    width: 10rem;
  }

  .carrosel {
    height: 100vh;
  }

  .sitio {
    flex-direction: row;
  }

  .container {
    max-width: 960px;
  }

  .img-grid__item {
    width: 33.333%;
  }

  .footer__grid > *,
  .footer__grid > *:not(:first-child) {
    flex-basis: 33.333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}