body {
  min-height: 100vh;
  background-color: #333;
}

a, 
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: var(--space-1);
  padding-right: var(--space-1);
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  width: 100%;
  height: var(--header-height)
}

.nav-wrapper {
  display: flex;
  width: 100%;
}

.nav--left {
  margin-left: auto;
}

.nav--right {
  margin-right: auto;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__item {
  padding: 0 0.75rem;
}

.nav__item > a {
  text-transform: uppercase;
}

.nav__item > a::before {
  content: '';
  width: 0.5rem;
  height: 0.0625rem;
  background-color: #fff;
}

.flex {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}