*::selection {
  color: #fff;
  background-color: var(--clr-orange);
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  font-family: var(--ff-main);
}

a, 
a:hover,
a:focus {
  color: var(--font-color);
  text-decoration: none;
}

p:not(.subtitulo) {
  color: var(--clr-gray);
}

h2 {
  font-size: var(--fs-3);
}

a > h2 {
  color: var(--clr-black);
}

h3 {
  font-size: var(--fs-2);
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {  
  font-family: var(--ff-title);
  font-weight: 400;
  letter-spacing: .125em;
  text-transform: uppercase;
}

.header-mobile {
  position: relative;
  height: var(--header-height-mobile);
  width: 100%;
  background-color: var(--clr-white);
}

.header-desktop {
  display: none;
  z-index: 10;
}

.menu-toggle {
  position: absolute;
  left: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: transparent;
  font-size: var(--fs-2);
  color: var(--clr-gray);
}

.menu-mobile {
  position: absolute;
  top: var(--header-height-mobile);
  left: 0;
  right: 0;
  max-height: 0;
  background-image: url('../assets/imgs/img-noise-menu-mobile.png');
  transition: max-height 600ms ease;
  overflow: hidden;
  z-index: 2;
}

.menu-mobile.opened {
  max-height: 32rem;
}

.header-mobile__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nav-wrapper {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.nav--left {
  margin-left: auto;
}

.nav--right {
  margin-right: auto;
}

.nav__list {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style: none;
}

.nav__item {
  position: relative;
  padding-inline: .75rem;
}

.nav__item > * button {
  padding-block: .5rem;
  padding-left: 0.75rem;
  padding-right: 0;
  border: none;
  background-color: transparent;
  color: var(--clr-orange);
  text-transform: uppercase;
}

.nav__item > a {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding-block: 2rem;
  text-transform: uppercase;
}

.nav__item > a::before,
.nav__item > a::after {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 1px;
  background-color: var(--font-color);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  transition: 100ms ease-in-out;
}

.nav__item > a::before {
  margin-right: 0.25rem;
  transform-origin: right;
}

.nav__item > a::after {
  margin-left: 0.25rem;
  transform-origin: left;
}

.nav__item > a:hover::before,
.nav__item > a:hover::after,
.nav__item > a:focus::before,
.nav__item > a:focus::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-mobile .nav__list {
  flex-direction: column;
  width: 100%;
  padding-block: 1.25rem;
}

.menu-mobile .nav__item > a {
  padding-block: .5rem;
}

.sub-menu-mobile {
  list-style: none;
}

.sub-menu__item > a {
  display: block;
  padding-block: .25rem;
  padding-inline: 1.5rem;
  color: var(--clr-dark-gray);
}

.sub-menu__item:hover > a,
.sub-menu__item:focus > a {
  color: var(--clr-orange);
}

.showcase {
  height: calc(100vh - var(--header-height-mobile));
  width: 100%;
}

.showcase > .carousel,
.showcase > .carousel > .carousel-inner,
.showcase > .carousel > .carousel-inner > .carousel-item {
  height: 100%;
}

#showcase > .first-time-showing {
  opacity: 0 !important;
}

#showcase > .carousel-control-next,
#showcase > .carousel-control-prev {
  display: none;
  opacity: 1;
  transition: opacity 600ms ease;
}

.showcase__bg {
  background-image: var(--showcase-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase__txt {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: transparent;
  opacity: 0;
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  transition: all 600ms ease;
}

.showcase__txt.start-animation {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.flex {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.text-block {
  min-height: 25rem;
}

.text-block > p:not(.subtitulo) {
  margin-top: .5rem;
}

.combo-img-text,
.destaques {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.combo-img-text > *,
.destaques > *:not(.servicos-grid) {
  flex-basis: 100%;
  
  padding-top: 7.5rem;
  padding-inline: 1.5rem;
}

.destaques > .servicos-grid {
  flex-basis: 100%;
  padding-inline: 1.5rem;
}

.img-wrapper {
  align-self: center;
  padding-bottom: 5rem;
}

.img-ratio {
  aspect-ratio: 4/3;
  -o-object-fit: cover;
  object-fit: cover;
}

.comentarios {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

#comentarios::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: .4;
  background-image: url('../assets/imgs/pastel-mosaic.jpg');
}

.comentario {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30rem;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;

  --inline-padding: 2rem;
  padding-inline: var(--inline-padding);
}

.comentario__usuario-img {
  position: relative;
  width: 6.25rem;
  margin-bottom: 2rem;
}

.comentario__usuario-img > img {  
  aspect-ratio: 1/1;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 60% 40% 60% 40%;
}

.comentario__usuario-img::before {
  content: '"';
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  font-size: 4.5rem;
  font-family: 'Proza Libre', sans-serif;
  color: var(--clr-orange);
}

.comentario__texto {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
}

.comentario__usuario-nome {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.espaco {
  padding-top: 7.5rem;
}

.img-grid__item {
  margin-bottom: 2.5rem;
  padding: 0 1.25rem;
}

.destaques {
  padding-bottom: 6.25rem;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
}

.youtube-video__wrapper {
  position: relative;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  margin-block: 5rem;
}

.servicos-grid {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.servicos-grid__item {
  flex-basis: 100%;
  margin-bottom: 1.5rem;
}

.servicos-grid__item > i {
  margin-bottom: 1.5rem;
  font-size: 3rem;
  color: var(--clr-orange);
}

.servicos-grid__item > p {
  padding-inline: 2rem;
}

.footer {
  padding-block: 4rem;
  background-image: url('../assets/imgs/img-noise-footer.png');
}

.footer__grid {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer__grid > * {
  flex-basis: 100%;
  padding: 0 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.footer__logo > img {
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.contato__info {
  display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.contato__info > i {
  width: 1.75rem;
  padding-right: .5em;
  text-align: end;
  color: #000;
}

.text-center {
  text-align: center;
}

.subtitulo {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-style: italic;
  color: var(--clr-orange);
}

.dark-font {
  --font-color: #000;
}

.orange-font {
  --font-color: var(--clr-orange);
}

/* -- Bootstrap customizado -- */
#sub-menu-mobile .accordion-button:focus {
  border: none;
  box-shadow: none;
}

#sub-menu-mobile .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: var(--clr-orange);
}

#sub-menu-mobile .accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
}

#comentarios > .carousel-control-next,
#comentarios > .carousel-control-prev {
  display: none;
  width: fit-content;
  font-size: 2rem;
  opacity: 1;
}

#comentarios > .carousel-control-next,
#comentarios > .carousel-control-next:hover,
#comentarios > .carousel-control-next:focus,
#comentarios > .carousel-control-prev,
#comentarios > .carousel-control-prev:hover,
#comentarios > .carousel-control-prev:focus {
  color: var(--clr-gray);
}

#comentarios > .carousel-control-next {
  padding-right: 2rem;
  -webkit-transform: translateX(-5%);
  -ms-transform: translateX(-5%);
  transform: translateX(-5%);
  transition: transform 200ms ease-in-out;
}

#comentarios > .carousel-control-prev {
  padding-left: 2rem;
  -webkit-transform: translateX(5%);
  -ms-transform: translateX(5%);
  transform: translateX(5%);
  transition: transform 200ms ease-in-out;
}

#comentarios > .carousel-control-next:hover {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#comentarios > .carousel-control-prev:hover {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

#comentarios > .carousel-indicators [data-bs-target] {
  height: 2px;
  width: 1.25rem;
  margin-inline: .25rem;
  background-color: var(--clr-gray);
  transition: width 600ms ease;
}

#comentarios > .carousel-indicators [aria-current="true"] {
  width: 2rem;
  background-color: var(--clr-orange);
}
/* --------------------------- */
@media (min-width: 768px) {
  .img-grid {
    display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
  }

  .img-grid__item {
    width: 50%;
  }

  .servicos-grid__item {
    flex-basis: 50%;
  }

  .footer__grid > *:not(:first-child) {
    flex-basis: 50%;
  }

  .footer__logo > img {
    width: 66.66%;
  }
}

@media (min-width: 992px) {
  .header-mobile,
  .menu-mobile {
    display: none;
  }
  
  .header-desktop {
    position: absolute;
    top: 0;
    left: 0;
    display: -webki-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height-desktop);
  }

  .header-desktop.header-desktop--shadow {
    /* --padding-bottom: 2rem;

    height: calc(var(--header-height-desktop) + var(--padding-bottom));
    padding-bottom: var(--padding-bottom); */

    background-image: linear-gradient(#000, hsla(0, 0%, 0%, .5) 70%, transparent);
  }

  #sliding-header.header-desktop {
    position: fixed;
    height: var(--header-height-slide);
    background-color: var(--clr-light-gray);
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform 250ms ease;
  }

  #sliding-header.header-desktop.show {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .header-desktop__logo {
    flex-shrink: 0;
    width: 8rem;
  }

  .sub-menu-desktop {
    --transition-timing: 300ms;

    position: absolute;
    min-width: 15rem;
    padding-block: 1.5rem;
    background-image: url('../assets/imgs/img-noise-menu-mobile.png');    
    list-style: none;

    visibility: hidden;
    -webkit-transform: translateY(12.5%);
    -ms-transform: translateY(12.5%);
    transform: translateY(12.5%);
    opacity: 0;
    
    transition: transform var(--transition-timing), opacity var(--transition-timing);
  }

  .nav__item:hover .sub-menu-desktop,
  .nav__item:focus .sub-menu-desktop,
  .nav__item:focus-within .sub-menu-desktop {
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .showcase {
    height: 100vh;
  }

  #showcase > .carousel-indicators {
    display: none;
  }

  #showcase > .carousel-control-next,
  #showcase > .carousel-control-prev {
    display: -webki-box;
  display: -ms-flexbox;
  display: -webkit-flex;
    display: flex;
  }

  .combo-img-text {
    flex-direction: row;
  }

  .comentario {
    --inline-padding: 5.25rem;
  }

  #destaques .text-block {
    order: 2;
    padding-bottom: 5rem;
  }

  .youtube-video__wrapper {
    margin: auto;
  }

  .img-grid__item {
    width: 33.333%;
  }

  .footer__grid > *,
  .footer__grid > *:not(:first-child) {
    flex-basis: 33.333%;
  }

  #comentarios > .carousel-control-next,
  #comentarios > .carousel-control-prev {
    display: block;
  }
}

@media (min-width: 1200px) {
  .destaques {
    flex-direction: row;
  }
}