:root {
  /* Colors */
  --clr-white: #fff;
  --clr-light-gray: #f3f3f3;
  --clr-dark-gray: #333;
  --clr-black: #222;

  /* Fonts */
  --ff-main: ;

  /* Font Sizes */
  --fs-1: 1rem;
  --fs-2: 2rem;

  /* Spacing */
  --space-1: 1rem;
  --space-2: 1.5rem;
  --space-3: 2.5rem;

}